@import "navbar";
@import "login";
@import "registration";
@import "home";
@import "contact";
@import "products";
@import "productdetails";
@import "shoppingcart";
@import "loader";
@import "footer";
@import "userprofile";
@import "cartdropdown";
@import "ordersubmit";


// ADMIN
@import "infoadmin";
@import "admin/adminproductdetailscomponent";
@import "checkout";
@import "Admin/adminlogin";
@import "Admin/adminpage";
@import "Admin/adminpagedetails";
@import "Admin/adminorders";
@import "Admin/deletedproduct";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: #000;
}

body {
  height: 100vh;
}

li {
  list-style: none;
}



.footer{
  text-align: center;
  background-color: rgb(41, 41, 41);
  color: rgb(193, 195, 196);
  padding: 40px;
  font-size: 14px;
}